
@{
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>

<body>

    <script>
        microsoftTeams.initialize();
    </script>

    <h1 style="color:#6364a5">Personal Tab</h1>
    <p>
        <img src="~/images/iconRed.png" alt="red teams icon" style="margin:50px" />
    </p>
    <p>This is your personal tab!</p>
</body>
</html>
