
@{
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PersonalTab</title>
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.1.min.js"></script>
    <script src='https://statics.teams.microsoft.com/sdk/v1.4.3/js/MicrosoftTeams.min.js'></script>
</head>
<body>

    <script>
        microsoftTeams.initialize();
    </script>

    <h1 style="color:#6364a5">Personal Tab</h1>
    <p>
        <img src="~/images/iconRed.png" alt="red teams icon" style="margin:50px" />
    </p>
    <p>This is your personal tab!</p>
</body>
</html>
