@model mvcQuickStartTabs.Models.ChannelGroup

@{
    Layout = "_Layout";
}


<script>
    microsoftTeams.initialize();
</script>

<script>
    let saveGray = () => {
        microsoftTeams.settings.registerOnSaveHandler(function (saveEvent) {
            microsoftTeams.settings.setSettings({
                websiteUrl: "https://22e17f2a.ngrok.io",
                contentUrl: "https://22e17f2a.ngrok.io/gray/",
                entityId: "grayIconTab",
                suggestedDisplayName: "MyNewTab"
            });
            saveEvent.notifySuccess();
        });
    }

    let saveRed = () => {
        microsoftTeams.settings.registerOnSaveHandler(function (saveEvent) {
            microsoftTeams.settings.setSettings({
                websiteUrl: "https://22e17f2a.ngrok.io",
                contentUrl: "https://22e17f2a.ngrok.io/red/",
                entityId: "redIconTab",
                suggestedDisplayName: "MyNewTab"
            });
            saveEvent.notifySuccess();
        });
    }

</script>

@{
    <section style="width: 100%; display: table">
        <div style="display:table-row">
            <div style="width: auto; display:table-cell;">

                <div id="gray" style="display:none;">@ViewBag.Gray</div>

            </div>

            <div style="display: table-cell">

                <div id="red" style="display:none;">@ViewBag.Red</div>

            </div>

        </div>
    </section>
}

<script>
    let gr = document.getElementById("gray").style;
    let rd = document.getElementById("red").style;

    const colorClickGray = () => {
        gr.display = "block";
        rd.display = "none";
        microsoftTeams.settings.setValidityState(true);
        saveGray()
    }

    const colorClickRed = () => {
        rd.display = "block";
        gr.display = "none";
        microsoftTeams.settings.setValidityState(true);
        saveRed();
    }
</script>

<p>
    <h2 style="color:#6364a5">Configure your tab:</h2>
    <br />
    <br />
</p>

<button onclick="(document.getElementById('icon').src='/images/iconGray.png'); colorClickGray()">Select Gray</button>

<img id="icon" src="~/images/teamsIcon.png" alt="icon" style="width:100px" />

<button onclick="(document.getElementById('icon').src='/images/iconRed.png'); colorClickRed()">Select Red</button>